.appleContent {
    margin: 0 50px;
}

.laptop-item {
    display: inline-block;
    width: calc(25% - 40px);
    margin: 10px 20px; 
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.laptop-item img {
    width: 100%;
    height: auto;
}

.laptop-item h2 {
    font-size: 1.2rem;
    margin: 10px 0;
}

.laptop-item p {
    margin: 5px 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.laptop-item p.price {
    color: blue;
}